body{  
	font-size: 1.2em;
	color: #ffffff;
	background-color: #141414;

}
header{
	font-family: 'Anton', sans-serif;
	background-color: #4f4f4f;
	border-bottom: 1px black solid;	
	border-bottom: 1px dotted black;
}
a:link, a:visited{
	color: #ffffff;
} 